doctype html
html
    head
        base(href="/")
        link(href="stylesheet.css" rel="stylesheet" type="text/css")
    body
        nav
            ul     
                li       
                    a(href="index.html") Home   
                li 
                    a(href="/auth/register") Register
                li 
                    a(href="/auth/signin") Sign In
                li 
                    a(href="search-filter.html") Search Database
                li 
                    a(href="/quiz") Quiz
                li 
                    a(href="/my-dashboard/my-posts") Manage Posts
                    ul 
                        li 
                            a(href="/my-dashboard/new-post") New Post
                        li 
                            a(href="/my-dashboard/my-posts") My Posts   
                        li 
                            a(href="/my-dashboard/upvoted-posts") Upvoted Posts  
                        li 
                            a(href="/my-dashboard/flagged-posts") Flagged Posts          
        div.clr
        block unique-content
        
    script(src="my-dashboard.js")
            
