* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E7F2F8;
}

a {
    text-decoration: none;
    color: black;
}

.post{
    background-color: #002868;
    color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    border: 3px black solid;    
}

.clr{
    clear: both;
}

nav {
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-size: 14px;
    padding: 22px 14px;
}

nav ul li a:hover{
    background-color: #BF0A30;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    width: 180px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    padding: 8px 14px;
    background-color: #BF0A30;
}

.button, button{
    background-color: #BF0A30;
    border: 0px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

.button:hover, button:hover{
    background-color: #E7F2F8;
}

.edit-button, .upvote-button, .downvote-button, .unflag-button{
    margin-left: 20px;
    margin-right: 20px;
}

fieldset{
    border: 3px white solid;
    padding: 10px;
    margin: 10px;
}

.form-bordered{
    border: 3px black solid;
    background-color: #002868;
    color: white;
    width: 40%;
    margin-left: 2%;
    margin-top: 20px;
    line-height: 2;   
}

form .button, form button {
    margin-top: 10px;
    margin-right: 20px;
}

#quiz-form {
   margin: auto;
   margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}

.form-centered {
    margin: auto;
    margin-top: 20px;
}

.page-title-center{
    text-align: center;
}

.page-title-left {
    margin-left: 2%;
}

.none{
    display:none
}

.inline{
    display:inline
}

.inline-block{
    display:inline-block
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logout-form{
    float: right;
    width: 100px;
    height: 50px;
    border: 3px black solid;
    background-color: #002868;
    text-align: center;
}

#retake-quiz-form{
    text-align: center;
    width: 200px;
    height: 50px;
    border: 3px black solid;
    background-color: #002868;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.retake-quiz-button {
    background-color: #BF0A30;
    border: 0px;
    font-weight: bold;
}

.retake-quiz-button:hover {
    background-color: #E7F2F8;
}